# 1. Ignora tudo dentro da pasta .obsidian por padrão
./studies/.obsidian/*

# 2. Abre exceções para arquivos de configuração de interface
!./studies/.obsidian/app.json
!./studies/.obsidian/appearance.json
!./studies/.obsidian/plugins.json
!./studies/.obsidian/core-plugins.json
!./studies/.obsidian/community-plugins.json

# 3. Permite a pasta de plugins, mas IGNORA os arquivos de dados sensíveis
!./studies/.obsidian/plugins/
./studies/.obsidian/plugins/**/data.json

# 4. Garante que caches e estados de interface nunca sejam subidos
./studies/.obsidian/workspace.json
./studies/.obsidian/workspace-mobile.json
./studies/.obsidian/cache/

# ambientes virtuais
.venv/
venv/
env/
ENV/